/***************************************************
                    Fixed Navbar
****************************************************/
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 220px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background-color: #F9FAFB;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
}

.emulator {
    width: 30%;
    float: right;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li:hover {
            border-right: 2px solid #4f8ff7;
        }

        .sidebar-nav li:active {
            border-right: 2px solid #4f8ff7;
        }

        .sidebar-nav li:focus {
            border-right: 2px solid #4f8ff7;
        }

        .sidebar-nav li a {
            color: #4C555A;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: none;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0;
            height: 34px;
            cursor: pointer;
            transition: height cubic-bezier(0.36, 0.66, 0.04, 1) 0.4s, padding cubic-bezier(0.36, 0.66, 0.04, 1) 0.4s, color 0.2s;
        }

            .sidebar-nav li a:hover {
                color: #4f8ff7;
                text-decoration: none;
                background: none;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                color: #4f8ff7;
                text-decoration: none;
                background: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        margin-top: 4em;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #4f8ff7;
                background: none;
            }

.subsidebar-nav {
    display: none;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .subsidebar-nav a {
        margin-left: 10px;
    }

    .subsidebar-nav li:hover {
        border-right: 2px solid #4f8ff7;
    }

    .subsidebar-nav li:active {
        border-right: 2px solid #4f8ff7;
    }


/***************************************************
                    Header
****************************************************/

.header {
    background-color: #2196F3;
    z-index: 2000;
    position: relative;
}

    .header img {
        width: 20%;
        padding: 1em 0;
        margin-left: 1em;
    }

.docs-home {
    color: #2196F3;
}

    .docs-home img {
        width: 25%;
        padding-top: 3em;
    }

    .docs-home p {
        font-size: 3.2em;
        padding: 0.1em 0;
    }

.getting-started {
    display: inline-block;
    width: 33%;
    padding-top: 50px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

    .getting-started:hover {
        text-decoration: none;
    }

    .getting-started img {
        width: 40%;
    }

    .getting-started p {
        padding: 1em 0;
        font-size: 16px;
        font-weight: bold;
    }


/***************************************************
                    Custom Search
****************************************************/

#custom-search-input {
    padding: 3px;
    border: solid 1px #2196F3;
    border-radius: 35px;
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: 2em;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
        background-color: transparent;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
        text-decoration: none;
        outline: 0;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

/***************************************************
                 How To Get Started
****************************************************/

.article-header {
    border-top: 1px solid #F0F3F7;
    margin-top: 5.6em;
    padding-top: 2em;
}

.f-explain {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    padding: 0.5em 2em;
}

.cordova-inst img {
    width: 100%;
}

.chrome-emulator img {
    width: 100%;
}
/**************************************************************************************************************************************
                                                      Other Screen Sizes
***************************************************************************************************************************************/

@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .emulator {
        display: none;
    }

    #page-content-wrapper {
        width: 100%;
    }

    .header img {
        width: 60%;
        padding: 0.8em 0;
    }

    .ferah-sm-nav {
        background-color: #fff;
    }

    .ferah-sm-nav-toggle {
        margin: 0;
        padding: 0;
        margin-left: 0.6em;
        margin-top: 1.2em;
    }

    .docs-home img {
        width: 65%;
        padding-top: 1em;
    }

    .docs-home p {
        font-size: 2.3em;
        padding: 0.1em 0;
        font-weight: 500;
    }
}
